<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrainTickets</title>
    <link rel="stylesheet" href="css/comprar.css">
</head>

<body>
    <nav class="header">
        <h1 class="azul">
            Train Tiquets
        </h1>
        <ul class="menu1">
            <li class="menu"><a href="/principal">Cerrar sesion</a></li>
        </ul>


    </nav>

    <div>
       su compro exitosamente
    </div>
    <footer>
        <p>
            &copy;2022 Los Ilucionistas<br>tickettrain121@gmail.com
        </p>
    </footer>
</body>

</html>