<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/principal.css">
    <title>TrainTickets</title>
</head>

<body>
    <nav class="header">
        <h1 class="azul">
            Train Tiquets
        </h1>
        <ul class="menu1">
            <li class="menu"><a href="/registro">Registrarse</a></li>
            <li class="menu"><a href="/inicio">Iniciar Sesion</a></li>
        </ul>
    </nav>
    <main id="img">
        <img src="img/tren.jpg" alt="" width="100%" height="800px">
    </main>
    <section class="horario">
        <img src="img/horario.png" alt="">
    </section>
    <footer>
        <p>
            &copy;2022 Los Ilucionistas<br>tickettrain121@gmail.com
        </p>
    </footer>
</body>

</html>